.DS_Store
.idea
.vs

Library
LuaAPI
obj
Packages
PlatformProjects
Temp
UnityPackageManager

Assets/StreamingAssets
Assets/Framework/ToLua/Source/Generate/*
!Assets/Framework/ToLua/Source/Generate/DelegateFactory.cs
!Assets/Framework/ToLua/Source/Generate/LuaBinder.cs

*.csproj
*.sln
*.userprefs